.nav-bar{
     display: flex;
     background-color:#270858;
     padding: 10px;
     color: white;
     justify-content: space-between;
}
.items{
    cursor: pointer;
}
.brand{
    font-weight: bolder;
    width: 20%;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
.search-box{
    width: 60%;
}
.search-box input{
    width: 55%; 
}
input::placeholder{
     font-weight: bold;
     padding: 10px;
}
.cart{
    width: 20%;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
.nav-bar-wrapper{
     background-color: #4b1b78;
     display: flex;
     justify-content: space-between;
     padding:15px;
     color: white;
     font-weight: bold;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img img{
     width: 350px;
     height: 350px;
}
.con{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}